/* Box Model Hack */
* {
  box-sizing: border-box;
}

body * {
  font-size: 62.5%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
header * {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0.1rem 0;
}

/* #game-title {
  color: ;
}

#score {
  color: ;
} */

button {
  font-size: 2rem;
  margin: 0.4rem 0;
  font-weight: 500;
}

/******************************************
/* LAYOUT
/*******************************************/
#gameboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 92vw;
  margin: 1rem auto;
  border: 3px solid red;
}


#category-row {
  display: flex;
  align-items: center;
  border: 5px solid blue;
  margin-bottom: 1rem;
}

#clue-grid {
  flex-direction: column;
}

.clue-row {
  display: flex;
  border: 2px solid orange;
}

.clue-box {
  display: flex;
  border: 2px solid green;
  border-radius: 5px;
  margin: 5px;
  height: 100px;
  flex: 1;
}

/*
.clue,
.category {
  width: 14rem;
  height: 7rem;
  background-color: rgb(22, 22, 190);
  color: rgb(218, 166, 26);
  padding: 0.1rem;
  margin: 0.5rem;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
