/* Box Model Hack */
* {
  box-sizing: border-box;
}

body * {
  font-size: 62.5%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body > * {
  width: 92vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}

header * {
  font-size: 4.2rem;
  font-weight: 700;
  margin: 0;
}

/* #game-title {
  color: ;
}

#score {
  color: ;
} */

button {
  font-size: 2rem;
  margin: 0.4rem 0;
  font-weight: 500;
}

/******************************************
/* LAYOUT
/*******************************************/
#gameboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 3px solid red; */
}

#category-row {
  display: flex;
  align-items: center;
  /* border: 5px solid blue; */
}

.clue-row {
  display: flex;
  /* border: 2px solid orange; */
}

.clue-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid green; */
  border-radius: 5px;
  margin: 0.25rem;
  height: 100px;
  flex: 1;
  background-color: rgb(16, 16, 128);
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.category-box {
  font-size: 1rem;
  line-height: 2rem;
}

.selected-box {
  font-size: 1rem;
}